<!DOCTYPE HTML>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{user/common/layout}">
  <div layout:fragment="contents">
    <p><a th:href="@{/user/add}">追加する</a></p>
    <table border="1" th:unless="${#lists.isEmpty(domain.userList)}">
      <tr>
        <th>ID</th>
        <th>ユーザー</th>
        <th>メールアドレス</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
      <tr th:each="val : ${domain.userList}">
        <td th:text="${val.id}"></td>
        <td th:text="${val.name}"></td>
        <td th:text="${val.email}"></td>
        <td><a th:href="@{/user/edit/{userId}(userId=${val.id})}">編集</a>
        <td></td>
      </tr>
    </table>
  </div>
</html>