<!DOCTYPE HTML>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{user/common/layout}">
  <div layout:fragment="contents">
    <p>test</p>
        <table border="1" th:unless="${#lists.isEmpty(domain.userList)}">
      <tr>
        <th>ID</th>
        <th>ユーザー</th>
        <th>Email</th>
      </tr>
      <tr th:each="val : ${domain.userList}">
        <td th:text="${val.id}"></td>
        <td th:text="${val.name}"></td>
        <td th:text="${val.email}"></td>
      </tr>
    </table>
  </div>
</html>